    <!--NAVBAR SECTION -->
    <nav class="navbar navbar-expand-lg bg-black" id="navbarSection">

        <div class="container-fluid">
  
          <app-logos></app-logos>
  
          <!-- lista redes -->
          <div class=" " id="">
  
            <ul class="navbar-nav">             

              <app-redes></app-redes>
                            
              <app-login></app-login>               
  
            </ul>
            
          </div>
          <!-- lista redes -->
  
        </div>
    </nav>
    <!--NAVBAR SECTION -->  