    <!--NAVBAR SECTION -->
    <nav class="navbar navbar-expand-lg bg-black" id="navbarSection">
        <div class="container-fluid">
  
          <!-- imagen banner -->
          <div>
          <a class="navbar-brand logosSeProgramas" href="#"><img src="./../assets/img/logos-argentina-programa.png" alt="logos-argentina-programa" class=""></a>
          </div>
          <!-- imagen banner -->
  
          <!-- lista redes -->
          <div class=" " id="">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 redes-flex">
  
              <li class="nav-item1">
                <a href="https://github.com/RichardDLB" target="_blank"><i class="fa-2x fa-brands fa-github text-white "></i></a>
              </li>
  
              <li class="nav-item2">
                <a href="https://www.linkedin.com/in/richard-lopez-bolivar-30442b235/" target="_blank"><i class="fa-2x fa-brands fa-linkedin text-white"></i></a>
              </li>
              
              <!-- Button user login -->
              <li class="nav-item3">
                <div class="login">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#UserLoginModal">
                    <i class="fa-solid fa-user-lock fa-2x text-white"></i>
                  </button>
                </div>
              </li>
              <!-- Button user login -->
  
              <!-- Button user logout-->
              <li class="nav-item4">
                <div class="logout">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#UserLoginModal">
                  <i class="fa-solid fa-user fa-2x text-white"></i>
                </button>
                </div>
              </li> 
              <!-- Button user logout-->
  
            </ul>
            
          </div>
          <!-- lista redes -->
  
        </div>
      </nav>
      <!--NAVBAR SECTION -->  