<!-- MODALS -->
  
  <!-- NAVBAR MODAL -->
  
 
  

     
  <!-- NAVBAR MODAL -->


  
  <!-- BANNER MODAL -->
  
  

  <!-- pencil edit profile photo modal -->
  <div class="modal fade" id="pencilEditProfilePhotoModal" tabindex="-1" aria-labelledby="pencilEditProfilePhotoModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="pencilEditProfilePhotoModalLabel">Cambiar Imagen</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="file" name="" id="">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
  </div>
  <!-- pencil edit profile photo modal -->    
  
  <!-- BANNER MODAL -->



  <!-- PRESENTATION MODAL -->

  <!-- pencil edit text presentation  -->
  <div class="modal fade" id="pencilEditProfilePhototextModal" tabindex="-1" aria-labelledby="pencilEditProfilePhototextModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="pencilEditProfilePhototextModalLabel">Editar Texto</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="textarea">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
  </div>
  <!-- pencil edit text presentation  -->    

  <!-- PRESENTATION MODAL -->


  
  <!-- EXPERIENCE MODALS -->

  <!--Button logo ntn24 modal -->
  <div class="modal fade" id="logoNtn24Modal" tabindex="-1" aria-labelledby="logoNtn24ModalLabel" aria-hidden="true">
    <div class="modal-dialog">    
      <div class="text-white">
        <h1 class="modal-title fs-5" id="logoNtn24ModalLabel">Certificado Ntn24</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="./../assets/img/certificado-ntn24.jpeg" alt="img-certificado-ntn24">
      </div>
      <div class="">
      <button type="button" class="btn text-white" data-bs-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
  <!--Button logo ntn24 modal -->

  <!-- pencil edit experience section modal -->
  <div class="modal fade" id="pencilEditTextCompanyModal" tabindex="-1" aria-labelledby="pencilEditTextCompanyModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="pencilEditTextCompanyModalLabel">Editar texto</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="text">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
  </div>
  <!-- pencil edit experience section modal -->

  <!-- xmark experience section modal -->
  <div class="modal fade" id="xMarkExperienceSectionModal" tabindex="-1" aria-labelledby="xMarkExperienceSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="xMarkExperienceSectionModalLabel">Editar Texto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="text">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
    </div>
  </div>
  <!-- xmark experience section modal -->

  <!-- EXPERIENCE MODALS -->



  <!-- EDUCATION MODALS -->
  
  <!-- logo argentina programa modal -->
  <div class="modal fade" id="logoArgentinaProgramaModal" tabindex="-1" aria-labelledby="logoArgentinaProgramaModalLabel" aria-hidden="true">
    <div class="modal-dialog">    
      <div class="text-white">
        <h1 class="modal-title fs-5" id="logoArgentinaProgramaModalLabel">Certificado SéProgramar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="./../assets/img/certificado-se-programar.png" alt="certificado-Se-Programar" class="">       
      </div>
      <div class="">
        <button type="button" class="btn text-white" data-bs-dismiss="modal">Cerrar</button>        
      </div>    
    </div>
  </div>
  <!-- logo argentina programa modal -->
  
  <!-- logo university of quindio modal -->
  <div class="modal fade" id="logoUniversidadQuindioModal" tabindex="-1" aria-labelledby="logoUniversidadQuindioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="text-white">      
          <h1 class="modal-title fs-5" id="logoUniversidadQuindioModalLabel">Diploma Comunicador Social Periodista</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./../assets/img/diploma-universidad.jpeg" alt="diploma-universidad">
        </div>
        <div class="">
          <button type="button" class="btn text-white" data-bs-dismiss="modal">Cerrar</button>        
        </div>
    </div>
  </div>
  <!-- logo university of quindio modal -->

  <!-- pencil edit education section modal -->
  <div class="modal fade" id="pencilEditEducationSectionModal" tabindex="-1" aria-labelledby="pencilEditEducationSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pencilEditEducationSectionModalLabel">Editar Texto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- pencil edit education section modal -->

  <!-- xmark education section modal -->
  <div class="modal fade" id="xMarkEducationSectionModal" tabindex="-1" aria-labelledby="xMarkEducationSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="xMarkEducationSectionModalLabel">Editar Texto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- xmark education section modal -->

  <!-- EDUCATION MODALS -->

  
  <!-- MODALS -->