<!-- EXPERIENCE SECTION -->
<section class="container-experience bg-black" id="experienceSection"> 

    <!-- pencil edit experience section -->
    <app-pencil-experience-section></app-pencil-experience-section>
    <!-- pencil edit experience section -->
      
    <div *ngFor="let experiencias of miPorfolio" class="container-box-experience">

      <!-- titulo experiencia -->
      <app-titulo-experiencia></app-titulo-experiencia>
      <!-- titulo experiencia -->


      <!--Button logo ntn24  -->
        <app-boton-logo-ntn24></app-boton-logo-ntn24>
      <!--Button logo ntn24  -->

      <!-- informacion experiencia  -->
        <app-informacion-experiencia></app-informacion-experiencia> 
      <!-- informacion experiencia  -->

      <!-- pencil and xmark info experience -->
        <app-pencil-and-xmark-info-experience></app-pencil-and-xmark-info-experience>
      <!-- pencil and xmark info experience -->


    </div>
    
</section>    
<!-- EXPERIENCE SECTION -->