<!-- EXPERIENCE SECTION -->
<section class="container-experience bg-black" id="experienceSection"> 

  <!-- pencil edit experience section -->
  <div class="pencilExperience">      
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modal">
    <i class="fa-solid fa-pencil fa-xl text-white"></i>
    </button>
  </div>      
  <!-- pencil edit experience section -->
      
    <div *ngFor="let experiencias of miPorfolio" class="container-box-experience">

        <div class="card card1">
          <h1 class="text-white">
            {{experiencias.titulo}}
          </h1>     
        </div>    

        <div class="card card2">
    <!--Button logo ntn24 modal -->
          <div class="box-logo">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#logoNtn24Modal">
              <img [src]="experiencias.logoEmpresa" alt="logoNtn-24" class="imgLogoNtn24">
            </button>
        </div>
    <!--Button logo ntn24 modal -->
        </div>
        
        <div class="card card3">

          <div class="webEditorText text-white">        
            <h4>{{experiencias.empresa}}</h4>
            <h5>{{experiencias.cargo}}</h5>
            <h5>{{experiencias.fechaIni}} / {{experiencias.fechaFin}} </h5>
          </div> 
        </div> 

        <div class="card card4"> 
    <!-- pencil edit text company modal -->
        <div class="text-center">
          <button type="button" class="btn pencilEditTextCompanyModal" data-bs-toggle="modal" data-bs-target="#pencilEditTextCompanyModal">
            <i class="fa-solid fa-pencil text-white"></i>
          </button>
        </div>
    <!-- pencil edit text company modal-->
    <!-- xmark experience section modal -->
      <div class="text-center">
          <button type="button" class="btn xMarkExperienceSection" data-bs-toggle="modal" data-bs-target="#xMarkExperienceSectionModal">
            <i class="fa-lg fa-solid fa-xmark text-white"></i>
          </button>
        </div>
    <!-- xmark experience section modal -->

        </div>   

    </div>
    
</section>    
<!-- EXPERIENCE SECTION -->