<!-- EXPERIENCE SECTION -->
<section class="container-experience bg-black" id="experienceSection"> 

    <!-- pencil edit experience section -->
    <app-pencil-experience-section></app-pencil-experience-section>
    <!-- pencil edit experience section -->
      
    <div *ngFor="let experiencias of miPorfolio" class="container-box-experience">

      <!-- titulo experiencia -->
      <app-titulo-experiencia></app-titulo-experiencia>
      <!-- titulo experiencia -->


      <!--Button logo ntn24  -->
        <app-boton-logo-ntn24></app-boton-logo-ntn24>
      <!--Button logo ntn24  -->

      <!-- informacion experiencia  -->
        <div class="">
          <div class="webEditorText text-white">        
            <h4>{{experiencias.empresa}}</h4>
            <h5>{{experiencias.cargo}}</h5>
            <h5>{{experiencias.fechaIni}} / {{experiencias.fechaFin}} </h5>
          </div> 
        </div> 
      <!-- informacion experiencia  -->


        <div class="card card4"> 
    <!-- pencil edit text company modal-->
        <div class="text-center">
          <button type="button" class="btn pencilEditTextCompanyModal" data-bs-toggle="modal" data-bs-target="#pencilEditTextCompanyModal">
            <i class="fa-solid fa-pencil text-white"></i>
          </button>
        </div>
    <!-- pencil edit text company modal-->

    <!-- xmark experience section modal -->
        <div class="text-center">
          <button type="button" class="btn xMarkExperienceSection" data-bs-toggle="modal" data-bs-target="#xMarkExperienceSectionModal">
            <i class="fa-lg fa-solid fa-xmark text-white"></i>
          </button>
        </div>
    <!-- xmark experience section modal -->

        </div>   

    </div>
    
</section>    
<!-- EXPERIENCE SECTION -->