<!-- EDUCATION SECTION -->
<section class="container-education bg-black" id="educationSection"> 
      
    <div *ngFor="let educaciones of miPorfolio" class="container-box-education">

        <div class="card card1">
          <h1 class="educationText text-white">{{educaciones.tituloEducacion}}</h1>     
        </div>    

        <div class="card card2">

        <!-- Button trigger logo argentina programa modal -->
        <div class="imgLogSeProgramar">
          <div>
            <button type="button" class="btn container" data-bs-toggle="modal" data-bs-target="#logoArgentinaProgramaModal">
              <img [src]="educaciones.logoInstitucion" alt="logo-argentinaPrograma" class="imgLogoSeProgramar" >
            </button>
          </div>
        </div>
        <!-- Button trigger logo argentina programa modal -->
    
        </div>
        
        <div class="card card3">

          <div class="SeProgramarText text-white">
            <h4>{{educaciones.institucion}}</h4>
            <h5>{{educaciones.titulo}}</h5>
            <h5>{{educaciones.fechaIni}} / {{educaciones.fechaFin}} </h5>
          </div> 

        </div> 

        <div class="card card4"> 
    
          <!-- pencil edit education section modal -->
          <div class="text-center">
    <button type="button" class="btn pencilEditEducationSection" data-bs-toggle="modal" data-bs-target="#pencilEditEducationSectionModal">
      <i class="fa-solid fa-pencil text-white"></i>
    </button>
          </div>
          <!-- pencil edit education section modal -->

          <!-- xmark education section modal -->
              <div class="text-center">
                <button type="button" class="btn xMarkEducationSection" data-bs-toggle="modal" data-bs-target="#xMarkEducationSectionModal">
                  <i class="fa-lg fa-solid fa-xmark text-white"></i>
                </button>
              </div>
          <!-- xmark education section modal -->

        </div>    

    </div>

    
</section>
<!-- EDUCATION SECTION -->
