 <!-- BANNER SECTION -->
 <section class="container-banner bg-danger-subtle" id="bannerSection">
        
    <div class="container-items-banner">

      <!-- pencil banner -->
      <div class="pencilBanner">      
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#pencilEditImgBanerModal">
        <i class="fa-solid fa-pencil fa-xl text-white"></i>
        </button>
      </div>      
      <!-- pencil banner -->
      
      <!-- text banner -->
      <div class="textBanner">
        <h1 class=" text-center text-white">
        Hello I'm <br> Richard Lopez <br>
        <span class="text-black">Full Web Stack Developer</span> 
        </h1>
      </div>
      <!-- text banner -->

      <!-- pencil edit profile photo modal -->
      <div class="pencilEditProfilePhoto">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#pencilEditProfilePhotoModal">
          <i class="fa-solid fa-pencil fa-xl text-black"></i>
        </button>    
      </div>
      <!-- pencil edit profile photo modal -->

      <!-- profile photo -->
      <div class="profilePohtoBanner">
        <div>
          <img src="./../assets/img/foto-perfil.jpg" alt="profile-photo" class="rounded-circle img-fluid ">
        </div>
        <div>
          <h3 class="text-white text-center">Richard Lopez <br> Developer </h3>
        </div>
      </div>  
      <!-- profile photo -->

    </div>
    
  </section>
<!-- BANNER SECTION -->

