  <!-- PROJECTS SECTION -->
  <section class="bg-black">

    <!-- pencil edit experience section -->
    <div class="pencilProjects">      
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modal">
      <i class="fa-solid fa-pencil fa-xl text-white"></i>
      </button>
    </div>      
    <!-- pencil edit experience section -->
    
  <div *ngFor="let proyectos of miPorfolio" class="container-fluid projects row bg-black " id="projects-section">   

    
    <div class="col-lg-3 col-md-4 col-sm-12">
      <h1 class="textProjects text-white">
        {{proyectos.titleProyectos}}
      </h1>
    </div>
    
    <div class="col-lg-8 ">
      <div class="textDescription text-white">
        <h2>{{proyectos.proyecto}}
        </h2>
        <h5>{{proyectos.descripcion}} / {{proyectos.fecha}}
        </h5>      
      </div>
    </div>    

  <!-- Tateti project image gallery -->
  <div id="galeria" class="container-galeria">  
      <div class="row pt-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img [src]="proyectos.imgProyecto1" alt="image gallery">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img [src]="proyectos.imgProyecto2" alt="image gallery">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img [src]="proyectos.imgProyecto3" alt="image gallery">
      </div>
  </div>
  </div>
  <!-- Tateti project image gallery -->

  </div>
  </section>


