<!-- PROJECTS SECTION -->
<section class="container-fluid projects row bg-black " id="projects-section"> 

    
    <div class="col-lg-3 col-md-4 col-sm-12">
      <h1 class="textProjects text-white">
        Proyectos
      </h1>
    </div>
    
    <div class="col-lg-8 ">
      <div class="textDescription text-white">
        <h3>Proyecto Tateti Desarrollado en Java, Diciembre 14 del 2022
        </h3>     
      </div>
    </div>    

  <!-- Tateti project image gallery -->
  <div id="galeria" class="container-galeria">  
      <div class="row pt-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="./../assets/img/tateti1.png" alt="image gallery">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="./../assets/img/tateti2.png" alt="image gallery">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="./../assets/img/tateti3.png" alt="image gallery">
      </div>
  </div>
  </div>
  <!-- Tateti project image gallery -->

  </section>
  <!-- PROJECTS SECTION-->
