<!-- PRESENTATION SECTION -->
<section class="container-presentation bg-black" id="presentationSection"> 
     
    <div class="container-text">

      <div class="container-box">
        
        <!-- presentation text -->
       <app-text-presentation></app-text-presentation>
        <!-- presentation text -->   
        
        <!-- pencil edit text presentation  -->
        <app-pencil-text-presentation></app-pencil-text-presentation>
        <!-- pencil edit text presentation -->

      </div>


    </div>
    
</section>
<!-- PRESENTATION SECTION -->
