<!-- PRESENTATION SECTION -->
<section class="container-presentation bg-black" id="presentationSection"> 
     
    <div class="container-text">

      <div class="container-box">
        
        <!-- presentaiton text -->
        <h3 class=" text-white text-center ">
            Full Stack Developer Jr, active and motivated by self-learning individually and in groups
            and with a lot of encouragement and love for the new challenges that give me tools for a better
            personal and professional growth.
        </h3>
        <!-- presentaiton text -->   
        
        <!-- pencil edit text presentation  -->
        <div class="">
              <button type="button" class="btn pencilEditProfilePhototext" data-bs-toggle="modal" data-bs-target="#pencilEditProfilePhototextModal">
                <i class="fa-solid fa-pencil fa-xl text-white"></i>
              </button>
        </div>
        <!-- pencil edit text presentation -->

      </div>


    </div>
    
</section>
<!-- PRESENTATION SECTION -->
