<!-- SECTION SKILLS -->
<section class="container-skills bg-black" id="skillsSection">

    <div>
      <h1 class="titleSkills">Skills</h1>
    </div>

    <div class="container-section-skills">      

      <div class="container-items ">

        <div class="items">
          <div class="text-white">HTML5</div>
          <div class="progress-circle progress-75"><span>75</span></div>          
        </div>

        <div class="items">
          <div class="text-white">CSS3</div>
          <div class="progress-circle progress-75"><span>75</span></div>
        </div>

        <div class="items">
          <div class="text-white">JS13</div>
          <div class="progress-circle progress-70"><span>70</span></div>
        </div>

        <div class="items">
          <div class="text-white">Angular</div>
          <div class="progress-circle progress-80"><span>80</span></div>
        </div>

      </div>
        
      <div class="container-items ">

        <div class="items">          
          <div class="text-white">Git</div>
          <div class="progress-circle progress-80"><span>80</span></div>
        </div>

        <div class="items">          
          <div class="text-white">Git</div>
          <div class="progress-circle progress-60"><span>60</span></div>
        </div>

        <div class="items">          
          <div class="text-white">Git</div>
          <div class="progress-circle progress-60"><span>60</span></div>
        </div>
        
        <div class="items">          
          <div class="text-white">Git</div>
          <div class="progress-circle progress-60"><span>60</span></div>
        </div>
      
      </div>

      

     


    </div>

  </section>
  <!-- SECTION SKILLS -->