<!--Button logo ntn24 modal -->
<div class="modal fade" id="logoNtn24Modal" tabindex="-1" aria-labelledby="logoNtn24ModalLabel" aria-hidden="true">
    <div class="modal-dialog">    
      <div class="text-white">
        <h1 class="modal-title fs-5" id="logoNtn24ModalLabel">Certificado Ntn24</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="./../assets/img/certificado-ntn24.jpeg" alt="img-certificado-ntn24">
      </div>
      <div class="">
      <button type="button" class="btn text-white" data-bs-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
  <!--Button logo ntn24 modal -->